body {
  font-family: "Mona Sans", sans-serif;
  font-size: 14px;
  background-color: #f6f6f6;
}
.container {
  width: 1024px;
  margin: 5px auto;
}

h1 {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  padding: 20px;
}

/* /////////////////////////////////////////////////////// H E A D E R ///////////////////////////////////////////////////////  */
.menu a {
  text-decoration: none;
  color: black;
}

.menu a:hover{
   font-size: 20px;
   font-weight: 700;
   color: red;
}

.login a {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 500px;
  height: 40px;
  border-radius: 20px;
}

.login {
  background-color: red;
  width: 120px;
  height: 40px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img {
  width: 120px;
}

.header input {
border: none;
font-size: 14px;
}
/* /////////////////////////////////////////////////////// P E R S O N N A G E S  &  C O M I C S  ///////////////////////////////////////////////////////  */

.sectionPerso {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}


.personnage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid rgb(213, 213, 213);
  width: 300px;
  height: 400px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.personnage img {
    width: 216px;
    height: 324px;
    object-fit: cover;
}

.personnage a {
  text-decoration: none !important;
}

.namePerso {
    font-weight: 700;
    text-transform: uppercase;
}
.descPerso {
    font-style: italic;
}

/* /////////////////////////////////////////////////////// F I C H E  P E R S O  A V E C  BD  A S S O C I E E S ///////////////////////////////////////////////////////  */

h2 {
  padding: 20px 0;
  font-weight: 600;
}

.comicPersoPage {
  font-style: italic;
  padding-bottom: 5px;
}
.comicsPerso {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.comicsPerso img {
  width: 180px;
}

/* /////////////////////////////////////////////////////// L  O  G  I  N  ///////////////////////////////////////////////////////  */

.secLogin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 80px;
}

.loginDiv {
  display: flex;
  gap: 5px;
}

.loginDiv input {
  border-radius: 5px;
  border-style: none;
  text-decoration: none;
  font-family: "Mona Sans", sans-serif;
  font-size: 14px;
  display: flex;
}


.loginDiv button {
  border-radius: 5px;
  border-style: none;
  background-color: red;
  color: white;
  font-family: "Mona Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.loginDiv button:hover {
  background-color: white;
  color: red;
}




